@media only screen and (max-width: 768px) {
  *,
  html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  body {
    background-image: url(images/landingImg.png);
  }

  header {
    width: 100%;
  }

  .nav-desktop {
    display: none;
  }

  .nav-part1 {
    display: none;
  }

  .my-logo {
    display: none;
  }

  .nav-mobile2 li {
    list-style: none;
    font-family: "Inter", "Times New Roman", Times, serif;
    font-size: 2rem;
    font-weight: 700;
    border-bottom: 1px solid #6f6c6b;
    padding-bottom: 10px;
  }

  .nav-mobile2 {
    display: flex;
    position: fixed;
    left: -100%;
    top: 0;
    gap: 2rem;
    flex-direction: column;
    background-color: #997462;
    width: 100%;
    height: 755px;
    padding: 4rem 1rem;
    text-align: start;
    transition: 0.5s;
    z-index: 1;
    margin-top: 10px;
  }

  .nav-mobile2.active {
    left: 0;
  }

  .links {
    margin: 16px 0;
  }

  .nav-mobile2 a {
    color: #fff5e1;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-size: 32px;
    line-height: 44px;
    padding-left: 20px;
  }

  .hamburger {
    display: block;
    flex-direction: column;
    align-items: flex-start;
    z-index: 9999;
    width: 20px;
    color: black;
    margin-top: 30px;
    margin-left: 30px;
    position: absolute;
    top: -10px;
  }

  .lines {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px 0;
    transition: all 0.5s ease;
    background-color: black;
    z-index: 1000;
  }

  .hamburger.active .lines:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .lines:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .lines:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .top {
    background-image: url(images/landingImg.png);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home-1 {
    width: 100%;
    background-size: contain;
    background-position: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .part1 {
    width: 90%;
  }

  .tittle {
    width: 80%;
    margin-top: 30px;
  }

  .tittle h5 {
    color: red;
    font-size: 22px;
    text-align: left;
    padding-top: 50px;
  }

  .tittle h1 {
    color: red;
    font-size: 30px;
    font-family: "Lato", sans-serif;
    font-weight: 900px;
    text-align: left;
    width: 95vw;
  }

  .details {
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
  }

  .details p {
    font-size: 15px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
  }

  .agenda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .agenda h2 {
    padding-bottom: 10px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
  }

  .agenda hr {
    width: 10%;
    margin-top: -1.3rem;
    margin-bottom: 2rem;
    border-color: red;
  }

  .dates {
    padding-top: 20px;
  }

  .dates p {
    font-size: 20px;
    padding-top: 5px;
  }

  .programs {
    width: 100%;
    margin-top: 3rem;
    background-image: url(images/program-bg.png);
  }

  .see-more {
    display: none;
  }

  .programs h2 {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
  }

  .program1 {
    background-color: #394150;
    width: 95%;
    height: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    gap: 10px;
    margin: auto;
    opacity: 0.8;
  }

  .program1:hover {
    border: 1px solid white;
  }

  .program1 h4 {
    color: red;
    font-family: "Lato", sans-serif;
  }

  .program1 p {
    color: white;
    font-family: "Lato", sans-serif;
  }

  .program2 {
    width: 95%;
    height: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #394150;
    margin: 10px auto;
    gap: 10px;
    opacity: 0.8;
  }

  .program2:hover {
    border: 1px solid white;
  }

  .program2 h4 {
    color: red;
    font-family: "Lato", sans-serif;
  }

  .program2 p {
    color: white;
    font-family: "Lato", sans-serif;
  }

  .program3 {
    width: 95%;
    height: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #394150;
    margin: 10px auto;
    gap: 10px;
    opacity: 0.8;
  }

  .program3:hover {
    border: 1px solid white;
  }

  .program3 h4 {
    color: red;
    font-family: "Lato", sans-serif;
  }

  .program3 p {
    color: white;
    font-family: "Lato", sans-serif;
  }

  .program4 {
    width: 95%;
    height: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #394150;
    margin: 10px auto;
    gap: 10px;
    opacity: 0.8;
  }

  .program4:hover {
    border: 1px solid white;
  }

  .program4 h4 {
    color: red;
    font-family: "Lato", sans-serif;
  }

  .program4 p {
    color: white;
    font-family: "Lato", sans-serif;
  }

  .program5 {
    width: 95%;
    height: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #394150;
    margin: 10px auto;
    gap: 10px;
    opacity: 0.8;
  }

  .program5:hover {
    border: 1px solid white;
  }

  .program5 h4 {
    color: red;
    font-family: "Lato", sans-serif;
  }

  .program5 p {
    color: white;
    font-family: "Lato", sans-serif;
  }

  .red-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    padding-top: 20px;
  }

  .red-join {
    background-color: red;
    width: 70%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .red-join p {
    color: white;
    font-family: "Lato", sans-serif;
  }

  .speakers-container {
    background-color: white;
    padding-top: 2rem;
    padding-right: 5px;
  }

  .speakers-container h2 {
    text-align: center;
    font-family: "Lato", sans-serif;
  }

  .speakers-container hr {
    width: 10%;
    margin: 10px auto;
    border-color: red;
  }

  .speaker1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 20px 20px;
  }

  .bio1 hr {
    margin-left: 0;
    border-color: #272a31;
    margin-top: -5px;
  }

  .speaker1 h4 {
    font-family: "Lato", sans-serif;
    padding-top: 20px;
    padding-bottom: 10px;
  }

  .speaker1 .p1 {
    color: red;
    font-family: "Lato", sans-serif;
    font-style: italic;
    padding-bottom: 10px;
    width: 110%;
  }

  .speaker1 .p2 {
    font-family: "Lato", sans-serif;
    width: 110%;
  }

  .speaker1 .img1 {
    height: 20vh;
    display: flex;
    flex-grow: 12;
  }

  .speaker2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px 20px;
  }

  .bio2 hr {
    margin-left: 0;
    border-color: #272a31;
    margin-top: -5px;
  }

  .speaker2 h4 {
    font-family: "Lato", sans-serif;
    padding-top: 20px;
    padding-bottom: 10px;
  }

  .speaker2 .p1 {
    color: red;
    font-family: "Lato", sans-serif;
    font-style: italic;
    padding-bottom: 10px;
  }

  .speaker2 .p2 {
    font-family: "Lato", sans-serif;
    width: 110%;
  }

  .speaker3 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px 20px;
  }

  .bio3 hr {
    margin-left: 0;
    border-color: #272a31;
    margin-top: -5px;
  }

  .speaker3 h4 {
    font-family: "Lato", sans-serif;
    padding-top: 20px;
    padding-bottom: 10px;
  }

  .speaker3 .p1 {
    color: red;
    font-family: "Lato", sans-serif;
    padding-bottom: 10px;
  }

  .speaker3 .p2 {
    font-family: "Lato", sans-serif;
  }

  .speaker4 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px 20px;
  }

  .bio4 hr {
    margin-left: 0;
    border-color: #272a31;
    margin-top: -5px;
  }

  .speaker4 h4 {
    font-family: "Lato", sans-serif;
    padding-top: 10px;
  }

  .speaker4 .p1 {
    color: red;
    font-family: "Lato", sans-serif;
    font-style: italic;
    padding-top: 20px;
    padding-bottom: 10px;
  }

  .speaker4 .p2 {
    font-family: "Lato", sans-serif;
  }

  .speaker5 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px 20px;
  }

  .bio5 hr {
    margin-left: 0;
    border-color: #272a31;
    margin-top: -5px;
  }

  .speaker5 h4 {
    font-family: "Lato", sans-serif;
    padding-top: 20px;
    padding-bottom: 10px;
  }

  .speaker5 .p1 {
    color: red;
    font-family: "Lato", sans-serif;
    font-style: italic;
    padding-bottom: 10px;
  }

  .speaker5 .p2 {
    font-family: "Lato", sans-serif;
  }

  .speaker6 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px 20px;
  }

  .bio6 hr {
    margin-left: 0;
    border-color: #272a31;
    margin-top: -5px;
  }

  .speaker6 h4 {
    font-family: "Lato", sans-serif;
    padding-top: 20px;
    padding-bottom: 10px;
  }

  .speaker6 .p1 {
    color: red;
    font-family: "Lato", sans-serif;
    font-style: italic;
    padding-bottom: 10px;
  }

  .speaker6 .p2 {
    font-family: "Lato", sans-serif;
  }

  .footer {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .main-home {
    width: 100%;
    background-image: url(images/landingImg.png);
  }

  header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3rem;
    background-color: white;
    border: 1px solid white;
  }

  .nav-mobile2 {
    display: none;
  }

  nav {
    display: block;
  }

  .hamburger {
    display: none;
  }

  .div-top {
    position: absolute;
    width: 100%;
    background-color: black;
    height: 50px;
    left: 0;
    display: flex;
    justify-content: center;
    margin-top: -40px;
    padding-left: 315px;
  }

  .nav-part1 {
    list-style: none;
    display: flex;
    gap: 20px;
    height: 20px;
    background-color: black;
  }

  .nav-part1 a {
    text-decoration: none;
    color: white;
    font-family: "Lato", sans-serif;
  }

  .nav-desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    position: absolute;
    left: 610px;
    top: 30px;
  }

  .nav-desktop li {
    display: flex;
    justify-content: space-between;
    padding: 0% 5%;
  }

  .nav-desktop a {
    color: black;
    text-decoration: none;
    font-family: "Lato", sans-serif;
    font-size: 22px;
  }

  .nav-desktop .abt a {
    color: red;
  }

  .nav-desktop a:hover {
    color: red;
    border: 2px solid red;
  }

  .nav-desktop a:active {
    color: #ec52a2;
  }

  .my-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 200px;
    top: 20px;
  }

  .nav-desktop .subscribe a {
    color: red;
    border: 2px solid red;
    padding: 0 5px;
  }

  .my-logo p {
    font-family: "Lato", sans-serif;
    font-size: 20px;
  }

  .sub-main {
    width: 100%;
    background-image: url(images/landingImg.png);
    margin-left: 3rem;
    text-align: left;
  }

  body {
    overflow-x: hidden;
    margin: 0;
  }

  .part1 {
    width: 70%;
    margin-left: 10rem;
  }

  .home-1 {
    width: 100%;
  }

  .tittle h5 {
    color: red;
    font-size: 30px;
    text-align: left;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    padding-top: 100px;
    margin-bottom: 1rem;
  }

  .tittle h1 {
    color: red;
    font-size: 40px;
    font-family: "Lato", sans-serif;
    font-weight: 900px;
    text-align: left;
    width: 60vw;
    margin-top: 0;
    margin-bottom: -1rem;
  }

  .details {
    border: 1px solid white;
  }

  .details p {
    padding-top: 30px;
    font-size: 15px;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 400;
    width: 70%;
  }

  .agenda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .agenda h2 {
    padding-bottom: 10px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
  }

  .agenda hr {
    width: 2%;
    margin-top: -1.5rem;
    margin-bottom: 2rem;
    border-color: rgb(202, 53, 53);
  }

  .dates {
    padding-top: 3rem;
  }

  .dates h2 {
    font-family: "Lato", sans-serif;
  }

  .dates p {
    font-size: 20px;
    font-family: "Lato", sans-serif;
    padding: 10px 0;
  }

  .programs {
    width: 100%;
    margin-top: 8rem;
    background-image: url(images/program-bg.png);
  }

  .programs h2 {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
  }

  .programs-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .all-programs {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
  }

  .program1 {
    background-color: #394150;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    padding: 5px;
    opacity: 0.8;
  }

  .program1:hover {
    border: 1px solid white;
  }

  .program1 h4 {
    color: red;
    font-family: "Lato", sans-serif;
  }

  .program1 p {
    color: white;
    font-family: "Lato", sans-serif;
    text-align: center;
  }

  .program2 {
    background-color: #394150;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    padding: 5px;
    opacity: 0.8;
  }

  .program2:hover {
    border: 1px solid white;
  }

  .program2 h4 {
    color: red;
    font-family: "Lato", sans-serif;
  }

  .program2 p {
    color: white;
    font-family: "Lato", sans-serif;
    text-align: center;
  }

  .program3 {
    background-color: #394150;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    padding: 5px;
    opacity: 0.8;
  }

  .program3:hover {
    border: 1px solid white;
  }

  .program3 h4 {
    color: red;
    font-family: "Lato", sans-serif;
  }

  .program3 p {
    color: white;
    font-family: "Lato", sans-serif;
    text-align: center;
  }

  .program4 {
    background-color: #394150;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    padding: 5px;
    opacity: 0.8;
  }

  .program4:hover {
    border: 1px solid white;
  }

  .program4 h4 {
    color: red;
    font-family: "Lato", sans-serif;
  }

  .program4 p {
    color: white;
    font-family: "Lato", sans-serif;
    text-align: center;
  }

  .program5 {
    background-color: #394150;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    padding: 5px;
    opacity: 0.8;
  }

  .program5:hover {
    border: 1px solid white;
  }

  .program5 h4 {
    color: red;
    font-family: "Lato", sans-serif;
  }

  .program5 p {
    color: white;
    font-family: "Lato", sans-serif;
    text-align: center;
  }

  .red-container {
    display: none;
  }

  .see-more {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .see-more h4 {
    color: white;
    text-decoration: none;
    font-family: "Lato", sans-serif;
    padding: 5rem 0;
  }

  .speakers-container {
    width: 100%;
    padding-bottom: 3rem;
    background-color: #d3d3d3;
    padding-top: 3rem;
  }

  .speakers-container h2 {
    text-align: center;
    font-family: "Lato", sans-serif;
  }

  .speakers-container hr {
    width: 2%;
    margin: 10px auto;
    border-color: red;
  }

  .speakers-align {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }

  .speakers-desk {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .speakers-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .speakers-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .speaker1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px 20px;
  }

  .bio1 {
    margin-top: -3.5rem;
  }

  .bio1 hr {
    margin-left: 0;
    border-color: #272a31;
  }

  .speaker1 h4 {
    font-family: "Lato", sans-serif;
    margin-top: 3rem;
  }

  .speaker1 .p1 {
    color: red;
    font-style: italic;
    font-family: "Lato", sans-serif;
    width: 110%;
  }

  .speaker1 .p2 {
    font-family: "Lato", sans-serif;
    width: 110%;
  }

  .speaker1 .img1 {
    height: 20vh;
    display: flex;
    flex-grow: 12;
  }

  .speaker2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px 0;
    margin-left: -2rem;
  }

  .bio2 {
    margin-top: -3.5rem;
  }

  .bio2 hr {
    margin-left: 0;
    border-color: #272a31;
  }

  .speaker2 h4 {
    font-family: "Lato", sans-serif;
    margin-top: 3rem;
  }

  .speaker2 .p1 {
    color: red;
    font-family: "Lato", sans-serif;
    font-style: italic;
  }

  .speaker2 .p2 {
    font-family: "Lato", sans-serif;
    width: 110%;
  }

  .speaker3 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px 20px;
  }

  .bio3 {
    margin-top: -3rem;
  }

  .bio3 hr {
    margin-left: 0;
    border-color: #272a31;
  }

  .speaker3 h4 {
    font-family: "Lato", sans-serif;
    margin-top: 5rem;
  }

  .speaker3 .p1 {
    color: red;
    font-family: "Lato", sans-serif;
    font-style: italic;
    padding-bottom: 10px;
  }

  .speaker3 .p2 {
    font-family: "Lato", sans-serif;
  }

  .speaker4 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px 20px;
  }

  .bio4 {
    margin-top: -3.5rem;
  }

  .bio4 hr {
    margin-left: 0;
    border-color: #272a31;
  }

  .speaker4 h4 {
    font-family: "Lato", sans-serif;
    margin-top: 5rem;
  }

  .speaker4 .p1 {
    color: red;
    font-family: "Lato", sans-serif;
    font-style: italic;
    padding-top: 20px;
  }

  .speaker4 .p2 {
    font-family: "Lato", sans-serif;
  }

  .speaker5 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px 20px;
    padding-left: 30px;
  }

  .bio5 {
    margin-top: -3rem;
  }

  .bio5 hr {
    margin-left: 0;
    border-color: #272a31;
  }

  .speaker5 h4 {
    font-family: "Lato", sans-serif;
    margin-top: 5rem;
  }

  .speaker5 .p1 {
    color: red;
    font-family: "Lato", sans-serif;
    font-style: italic;
  }

  .speaker5 .p2 {
    font-family: "Lato", sans-serif;
  }

  .speaker6 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px 20px;
  }

  .bio6 {
    margin-top: -5.5rem;
  }

  .bio6 hr {
    margin-left: 0;
    border-color: #272a31;
  }

  .speaker6 h4 {
    font-family: "Lato", sans-serif;
    margin-top: 5rem;
  }

  .speaker6 .p1 {
    color: red;
    font-family: "Lato", sans-serif;
    font-style: italic;
  }

  .speaker6 .p2 {
    font-family: "Lato", sans-serif;
  }

  .footer {
    width: 100%;
  }

  .sponsors h4 {
    color: #d3d3d3;
    font-family: "Lato", sans-serif;
    padding-top: 35px;
    line-height: 50px;
  }

  .sponsors hr {
    width: 2%;
    border-color: red;
  }

  .sponsors {
    width: 100%;
    background-color: #272a31;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .companies {
    padding: 2rem;
    display: flex;
    justify-content: center;
    gap: 40px;
    color: #d3d3d3;
  }

  .companies p {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 17px;
  }

  .companies h3 {
    font-family: "Lato", sans-serif;
    font-size: 23px;
  }

  .companies h2 {
    font-size: 27px;
  }

  .foot-left {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .foot {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #d3d3d3;
  }

  .foot-right .lastp {
    font-family: "Lato", sans-serif;
    font-weight: 500;
  }

  .foot-right .plast {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    padding-top: 10px;
  }

  .log-2 .pp {
    margin-top: -25px;
  }

  .log-2 p {
    font-family: "Lato", sans-serif;
    font-weight: 600;
  }
}
